@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


html, body {
  background-color: #000000; /* Ensure dark background */
}

body {
  margin: 0;
}

/* ✅ CORRECT LENIS SETUP */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
  height: 100vh;
}