@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --border: 220 13% 91%;
    }
    
    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
    }
}